@{
    Layout = "~/Areas/Admin/Views/Shared/Layout/_LayoutAdmin.cshtml";
}

@using Hrmanagement.Core.DTO.DtoOutput;
@{
    var userId = ViewData["user"] as UserOutput;
    int id = userId != null ? userId.Id : 0;
}
@{
    var role = new[]
    {
        "admin","Public"
    };
}

<section class="content container-fluid">
    <div class="card">
        <div class="card-header">
            @if (id != 0)
            {
                <h3 class="card-title">User Page-Update</h3>
            }
            else
            {
                <h3 class="card-title">Create New User</h3>
            }
        </div>
        <form class="card-body" method="post" action="~/Admin/User/AddUpdateUser" onsubmit="return addUpdateUser()" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@userId?.Id">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="firstName" class="col-form-label col-sm-2">FirstName</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName" name="FirstName" placeholder="FirstName" value="@userId?.FirstName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="col-form-label col-sm-2">LastName</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastName" name="LastName" placeholder="LastName" value="@userId?.LastName">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" name="Email" placeholder="Email" value="@userId?.Email">
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="mobile" class="col-form-label col-sm-2">Mobile</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mobile" name="Mobile" placeholder="Mobile" value="@userId?.Mobile">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                @if (userId?.Password == null)
                {
                    <div class="col-sm-6">
                        <label for="password" class="col-form-label col-sm-2">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="Password" placeholder="Password" value="@userId?.Password">
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" class="form-control" id="password" name="Password" placeholder="Password" value="123456">
                }

                <div class="col-sm-6">
                    <label for="role" class="col-form-label col-sm-2">Role</label>
                    <div class="col-sm-10">
                        <select id="role" name="Role" style="width: 100%" required>
                            <option value="">Select Role</option>
                            @foreach (var roleList in role)
                            {
                                <option value="@roleList" @(userId?.Role == roleList ? "selected" : "")>@roleList</option>

                            }
                        </select>
                        @*<input type="text" class="form-control" id="role" name="Role" placeholder="Role" value="@userId?.Role">*@
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">Image</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="ImageFile" name="ImageFile" placeholder="ImageFile" value="@userId?.ProfileImage">
                    </div>
                </div>
                @if (userId?.Id != null)
                {
                    <div class="col-sm-6">
                        <label for="mobile" class="col-form-label col-sm-2">IsActive</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="isActiveSelect" name="isActive">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                    </div>
                }
            </div>


            <div class="card-footer">
                <button type="submit" class="btn btn-info float-left">Save</button>
            </div>
        </form>
    </div>
</section>
@await Component.InvokeAsync("Toaster")
