@{
    Layout = "~/Areas/Public/Views/Shared/Layout/_LayoutPublic.cshtml";
}
@using Hrmanagement.Core.DTO.DtoOutput;
@{
    var getLeaves = ViewData["leaveData"] as LeaveOutput;
    var remark = getLeaves?.IsRejected;
}

<section class="content">
    <div class="row">
        <div>
            <a class="btn btn-primary" style="margin-left:16px;" href="~/Public/Leave/getUserLeave">Back</a>
        </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Leave List</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Message</th>
                                @if (remark == true)
                                {
                                    <th>Remark</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                        <td>@getLeaves.Title</td>
                        <td>@getLeaves.Message</td>
                            @if (remark == true)
                            {
                            <td>@getLeaves.Remark</td>

                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


